.intro{
    background: linear-gradient(to right,$color-red-1,$color-red-0);
    .container{
        width: 100%;
        padding: $pd-2;
        

        .intro_item{
            .icon{
                @include styleText($color-white-0,50px,$fw-bold);
                margin-right: $mg-2;
            }
            .content{
                padding-top: $pd-1;
                h4{
                    @include styleText($color-white-0,$fs-0 + 2,$fw-bold-0);
                }
                p{
                    @include styleText($color-white-0,$fs-0 + 2,$fw-normal);
                }
            }
        }
    }
}